.blogposts{
background-color: rgb(10, 10, 10);
}

.blogpost-header h1{
    margin: 10px;
    color: #41E09B;
}
.blogsection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
