.blogpost-header h1{
    margin: 20px;
}
.blogsection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 20px 10px;
}
