.sidenav {
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    right: 0px;
    top: 60%;
    margin-left: 0;
    padding: 10px 0px 10px 10px;
}

.sidenav p {
    color: black;
    text-align: right;
    visibility: hidden
}

.phoneIcon {
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.514);
}

.mailIcon {
    margin-top: 2px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.514);
}

.sidenav:hover {
    cursor: pointer;
    background-color: #41E09B;
    border-radius: 10px 0px 0px 10px;
}

.blurb__active {
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 60%;
    margin-left: 0;
    background-color: #41E09B;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
}

.exitElement__active svg{
    height:40px;
}

.sidenav__active {
    margin-left: 10px;
}

.sidenav__active a{
    color: white;
    font-weight: 600;
}