.contact {
    font-size: 1em;
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(10, 10, 10);
  }
  
  .contact h3 {
    font-size: 2em;
    color: #41E09B;
  }
  .contact a {
    font-size: 1em;
    margin: 10px;
    color: #41E09B;
    display:block;
  }
  
  .contact p {
    font-size: 18px;
    max-width: 600px;
    margin: 10px;
    line-height: 1.6;
    text-align: center;
    width: auto;
  }