.nav {
  background: black;
  height: 80px;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 999;
}

.nav__container {
  display: flex;
  align-content: center;
  text-align: center;
  width: 100%;
  max-width: 1000px;
  z-index: 999;
}

.nav__logo {
  cursor: pointer;
  float: left;
  margin-left: 10px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav__logo img {
  margin: 5px;
  height: 60px;
  width: auto;
}

.nav__logo p {
  margin: 0px;
  font-weight: 600;
  visibility: hidden;
}

.mobile__icon {
  position: absolute;
  color: white;
  top: 15px;
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}

.nav__menu {
  display: none;
}

.nav__logo--hamburger {
  margin-bottom: 20px;
}

.nav__logo--hamburger--img {
  width: 60px;
  margin-bottom: 40px;
}

.nav__menu-active {
  top: 0px;
  right: 0px;
  background-color: #000000;
  border-left: 1px solid rgba(255, 255, 255, 0.39);
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  width: 50%;
  height: 100vh;
  transition: all 0.3s ease;
  position: absolute;
  padding: 0;
}

.nav__menu-active .nav__item {
  font-size: 1em;
  padding: 20px;
  border-top: 1px solid white;
  border-top: 1px solid white;
}

.nav__item {
  margin: 0px 0 0 10px;
  font-size: 1.2rem;
  font-weight: 550;
  text-transform: uppercase;
}

.nav__item a {
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}

.nav__item a:hover {
  color: #41E09B;
}

@media screen and (min-width: 960px) {
  .nav__container {
    width: 100%;
    max-width: 1400px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-content: center;
    text-align: center;
    z-index: 999;
  }
  .mobile__icon {
    display: none;
  }
  .nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: transparent;
    list-style-type: none;
  }
  .nav__item {
    margin: 0px 10px;
  }
  .nav__logo p {
    visibility: visible;
    text-transform: uppercase;
  }
  .nav__logo {
    margin-bottom: 16px;
  }
}