.nav {
  background: #161616;
  height: 90px;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 999;
}

.nav__container {
  display: flex;
  align-content: center;
  width: 100%;
  max-width: 1000px;
  z-index: 999;
}

.nav__logo {
  cursor: pointer;
  float: left;
  margin: 5px 0px 0px 10px;
  height: 70px;
}

.nav__logo img{
  margin: 5px;
  height: 80%;
  width: auto;
}

.mobile__icon {
  position: absolute;
  color: white;
  top: 30px;
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}

.nav__menu {
display: none;
}

.nav__menu-active {
  right: 0px;
  background-color: blue; display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  width: 50%;
  height: 100vh;
  transition: all 0.3s ease;
  position: absolute;
  padding: 0;
}

.nav__menu-active .nav__item {
font-size: 2rem;
margin: 20px;
}

.nav__item {
  margin: 0px 0 0 10px;
  font-size: 1.2rem;
  font-weight: 550;
  text-transform: uppercase;
}

.nav__item a {
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}

.nav__item a:hover {
  color: #6588AC;
}


@media screen and (min-width: 960px) {
  .nav__container {
    width: 100%;
    max-width: 1400px;
    align-items: center;
    justify-content: space-between;
  }
  .mobile__icon {
    display: none;
  }

  .nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: transparent;
    list-style-type: none;
  }
 
  .nav__item {
    margin: 0px 10px;
  }
}

